<h3>Data Points</h3>
<%= image_tag @chart.to_url %>
<%= render :partial => @data_points %>

<%- if @current_user.data_points.for_date(Date.today).blank? -%>
<%= link_to "Enter a new data point", new_data_point_path %>
<%- end -%>