<h3>Data Points</h3>
<%= image_tag @chart.to_url unless @chart.blank? %>
<%- if @current_user.data_points.for_date(Date.today).blank? -%>
<div>
	<%= link_to "Enter a new data point", new_data_point_path %>
</div>
<%- end -%>
<div>
	<%= render :partial => @data_points %>
</div>